<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
</head>
<body>
    <h1>Cambia de historias</h1>

    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  VER MINUTO 1:10 ME QUEDE--> 
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/HSXOBYRDJ5H7NHX3DKPWYFV5KE.jpg" alt="foto de goku" width="400">
        <p>Otra revelación importante fue que la puntería de Granola es letal para los protagonistas.
             Normalmente, los ataques del enemigo liquidan a sus víctimas si logran dar en el punto adecuado del cuerpo.
             En el caso de los saiyajins, se recalcó que sus cabezas siguen siendo su punto débil.
        </p>
        <p>Por otro lado, Vegeta nota que el planeta fue víctima de algún ataque perpetrado por los
             saiyajins bajo las ordenes de Freezer. Luego de caer sobre una enorme huella de Ozaru, el guerrero señala: 
            “Ya veo. Era lo que pensaba. Ahora ya sé su verdadera identidad”.</p>
    </div>
</body>
</html>