<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Cambia de historia</h1>

    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  VER MINUTO 1:10 ME QUEDE--> 
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/YZII4MAA6ZFJDITFQN2ME6MAMA.jpg" alt="foto de goku" width="400">
        <p>Mientras tanto, se ve cómo Gas y Elec se acercan al planeta Cereal, lugar al que regresan
             después de 40 años. Gas confiesa que no tiene buenos recuerdos del lugar
             y su hermano lo tranquiliza diciéndole que no se preocupe, que ahora “son diferentes”.
        </p>
        <p>A través de flashbacks, se dio a conocer que Granola proviene de la raza Cereal, 
            la cual fue asolada por los saiyajins. Los guerreros, transformados en monos gigantes,
             destruyeron su planeta bajo las órdenes de Freezer. Una función usual por parte de ellos, 
            por lo que los fans no se sorprendieron al ver a Bardock como uno de los atacantes.</p>
    </div>
</body>
</html>