<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Cambia de historias</h1>

    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  VER MINUTO 1:10 ME QUEDE--> 
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/117591658_3177940665594860_5567005776497363999_n.png" alt="foto de goku" width="400">
        <p>Tras las recientes filtraciones ya no es sorpresa para nadie la muerte o destrucción de 
            Merus, esto aun no queda del todo claro ya que estas páginas aun no han sido traducidas,
             sin embargo, lo que si conocemos es el Testamento que ha dejado el Ángel antes de desaparecer por completo,
              unas últimas palabras que sin duda alguna probocaran en Goku una reacción digna de ser contemplada,
             a continuación te dejamos con las últimas palabras de Merus traducidas al español:
        </p>
        <p>′′No soy bueno ni malo, nací como un ángel, con el deber de ser neutral. Y es por eso que
             sea una tormenta que azota el universo o el 
            propio universo desapareciendo, lo único que tengo derecho a hacer es observar.</p>
            <p>Pero actuando como un patrullero galáctico junto a ellos, antes de que me diera cuenta, 
                algo floreció desde dentro de mí. EL SENTIMIENTO DE LA JUSTICIA</p>
    </div>
</body>
</html>