<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home inicio de pagina</title>
    
</head>
<body>
       
    
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/Goku-el-héroe-que-ha-muerto-y-resucitado-en-más-de-una-ocasión7.jpg" alt="foto de goku" width="400">
        <p>Dragón Ball Súper , abreviado comúnmente como DBS, es una entrega reciente de la
             franquicia Dragon Ball , ambientada entre los episodios 288-289 de Dragon Ball Z 
             (entre el capítulo 518-519 manga) 
            es una serie de anime y manga que comenzó a transmitirse el 5 de julio de 2015.
        </p>
    </div>
    <div>
        <h2>dragonball super</h2>
        <img src="/img/bbb9cd587985460369bc9cc70a9cab51.jpg" alt="foto de vegeta" width="400">
        <p>El 20 de octubre de 2016, aprovechando su asociación de más de 20 años con la
             franquicia de Dragon Ball, Funimation y Toei Animation amplió su asociación y su acuerdo
             lurianual que introduciría a "Dragon Ball Super" en todo EE. UU.
             y Canadá, con la venta de DVD de video juegos y Blu-ray!
        </p>
    </div>
   
    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  --> 
        <h2>explora las siguientes historias</h2>
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
     
        <p>
            Dragón Ball Súper , abreviado comúnmente como DBS, es una entrega reciente de la franquicia Dragon Ball ,
             ambientada entre los episodios 288-289 de Dragon Ball Z (entre el capítulo 518-519 manga) 
            es una serie de anime y manga que comenzó a transmitirse el 5 de julio de 2015.       
        </p>
            <p>
                La trama de la serie comienza mostrando las secuelas de Majin Buu Saga ,
                 luego procede a volver a contar y alterar las historias de Dragon Ball Z: Battle of Gods y Dragon Ball Z:
                  Resurrection 'F' como nuevos arcos de la historia. La siguiente parte de Super following 
                se lleva a cabo en el Universo 6 con los Z Fighters en busca de Súper Dragón Balls .
        </p>
        <span>anterio r</span>
        <span>siguiente</span>
        <h2>lista de las historias</h2>
        <ol type="I" ><!-- arma una lista ordenada, con type ordena de cual quieras 1,2,3,4 o a,b,c etc -->
            <li>babbage = historia 1 </li>
            <li>berners-lee = historia 2</li>
            <li>clarke = historia 3</li>
            <li>hopper = historia 4</li>
            <li>lovelace = historia 5</li>
            <li>turing = historia 6</li>
            
        </ol>
    
</body>
</html>