<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
</head>
<body>
    <h1>Cambia de historias</h1>

    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  VER MINUTO 1:10 ME QUEDE--> 
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/Beerus descansa en casa.png" alt="foto de goku" width="400">
        <p>El Dios de la Destrucción Beerus profetiza de un Dios Super Saiyan y al despertar comienza 
             búsqueda de la figura. La búsqueda lo lleva al planeta del Rey Kai donde supera al Super 
             saiyan 3 Goku, antes de volver sus ojos a Vegeta en la Tierra. Beerus disfrutó de su tiempo en la Tierra hasta que se enojó con el poco generoso Majin Buu por no compartir su budín.
             Los Z Fighters se unen para eliminar a Beerus, pero su poder era demasiado para ellos.
        </p>
    </div>
</body>
</html>