<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turing</title>
</head>
<body>
    <h1>Cambia de historias</h1>

    <nav><!-- indica el menu de navegacion a nivel semantico es decir clickeas y vas al sitio  VER MINUTO 1:10 ME QUEDE--> 
        <ul> <!-- este pondria las viñetas puntitos  -->
            <li><a href="/">index</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">berners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a mi sitio !!</h1>
    
    <div>
        <h2>dragonball super</h2>
        <img src="/img/dragon-ball-super-torneo-del-poder.jpg" alt="foto de goku" width="400">
        <p>En el Zen Exhibition Match , Great Priest revela que este torneo no solo se realiza con 
            fines recreativos, de hecho, los Zeno estaban planeando deshacerse de los universos más
             débiles todo el tiempo y este torneo también servirá como una base de juicio para que lo hagan entonces, con los cuatro universos que estaban en la parte
             superior de la escala de niveles mortales de Zeno, siendo salvados automáticamente.
        </p>
    </div>
</body>
</html>